exercices/.ex18.awk.swp
exercices/Exo_AWK.jpg
exercices/ex11bash/save_images/cheval.jpeg
exercices/ex11bash/save_images/chien.jpeg
exercices/ex11bash/save_images/lapin.jpeg
exercices/ex11bash/save_images/tortue.gif
exercices/ex11bash/thumbnails/cheval_100x100.png
exercices/ex11bash/thumbnails/chien_100x100.png
exercices/ex11bash/thumbnails/lapin_100x100.png

