exercices/ex_bash/ex13bash/ex13.bash
exercices/ex_bash/ex11bash/ex11.bash
exercices/ex_awk/ex18.awk
exercices/ex_awk/valou.awk
exercices/ex_bash/ex11bash/save_images/cheval.jpeg
exercices/ex_bash/ex11bash/save_images/chien.jpeg
exercices/ex_bash/ex11bash/save_images/lapin.jpeg
exercices/ex_bash/ex11bash/save_images/tortue.gif
